# Documento que no queremos subir
EasyPro_Digital_Consolidado.docx

# Node modules y subcarpetas específicas
node_modules/.bin/
node_modules/.package-lock.json
node_modules/@parcel/
node_modules/@popperjs/
node_modules/aos/
node_modules/braces/
node_modules/chokidar/
node_modules/classlist-polyfill/
node_modules/detect-libc/
node_modules/fill-range/
node_modules/immutable/
node_modules/is-extglob/
node_modules/is-glob/
node_modules/is-number/
node_modules/lodash.debounce/
node_modules/lodash.throttle/
node_modules/micromatch/
node_modules/node-addon-api/
node_modules/picomatch/
node_modules/readdirp/
node_modules/sass/
node_modules/source-map-js/
node_modules/to-regex-range/

# Archivos de Node
package-lock.json
package.json

# Archivos de prueba
pruebas.html
